In [1]:
print("Hola Mundo")

Hola Mundo

In [6]:
## Variables Primitivas
entero = 3
decimal = 1.1
nombre = "Juan"
segundo_nombre = "Antonio"
casado = False
estudiante = True
hijos = None

texto = """asdasdasdsadsads
adsad asd sad asd asdasd ssad sas
asd sadsadsadasdasfdsasd
asd sadsadsadasdasfdsasdadsda
"""

print(type(entero))  # int
print(type(decimal))  # float
print(type(nombre))  # str
print(type(segundo_nombre))  # str
print(type(casado))  # boolean
print(type(estudiante)) # boolean
print(type(hijos))  # NoneType
print(type(texto))  # str

print(entero)
entero = decimal
entero = hijos
entero = casado
print(entero) 
print(texto)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>
3
False
asdasdasdsadsads
adsad asd sad asd asdasd ssad sas
asd sadsadsadasdasfdsasd
asd sadsadsadasdasfdsasdadsda

In [7]:
print(entero)
entero = decimal
entero = hijos
entero = casado
print(entero)

False
False

In [5]:
# Condicion (Boolean)
# Trusty
# Falsy
tuplas = ()
listas = []
diccionario = {}


print(type(tuplas))  # tuple
print(type(listas))  # list
print(type(diccionario))  # dict

if("a"):  # Truty
    print("Truty")
else:
    print("Falsy")


if(0):  #  False
    print("Truty")
else:
    print("Falsy")
    
if(-1):  #  Truty
    print("Trusty")
else:
    print("Falsy")
    
if(1):  #  Truty
    print("Truty")
else:
    print("Falsy")
    
if(0.00):  #  Falsy
    print("Truty")
else:
    print("Falsy")

if(0.01):  #  Truty
    print("Truty")
else:
    print("Falsy")
    
if(None):  #  Falsy
    print("Truty")
else:
    print("Falsy")

if((1,2)):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if([]):  # Falsy
    print("Truty")
else:
    print("Falsy")    
 
if(["a","b"]):  # Truty
    print("Truty")
else:
    print("Falsy") 

if({}):  # Falsy
    print("Truty")
else:
    print("Falsy") 
    
if({nombre:"Juan"}):  # Truty
    print("Truty")
else:
    print("Falsy")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Truty
Falsy
Trusty
Truty
Falsy
Truty
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [6]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
arreglo[2]  

arreglo[2:5]  # Filtrar ( [2, 5[)
arreglo[2:]  
arreglo[:7]
arreglo[-1] 
arreglo[2:-1]  # Filtrar ( [2, -1[)
arreglo[-8:-1] 
arreglo[-9:]
arreglo[:-2]
arreglo[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
print(type(7 in arreglo))
print(7 in arreglo)

<class 'bool'>
True

In [9]:
len(arreglo)

10

In [10]:
arreglo.append(11)
print(arreglo)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [12]:
arreglo.pop()

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
print(arreglo)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
arreglo.insert(1, 1.1)

In [17]:
print(arreglo)

[1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
for numero in arreglo:
    print(numero)

1
1.1
2
3
4
5
6
7
8
9
10

In [26]:
contador = 0
while contador < 10:
    print(contador)
    contador += 1

0
1
2
3
4
5
6
7
8
9

In [27]:
tupla_numero = (1, 2, 3, 4, 5)
tupla_numero

(1, 2, 3, 4, 5)

In [28]:
tupla_numero[0:3]

(1, 2, 3)

In [29]:
tupla_numero[0] = 0

TypeError: 'tuple' object does not support item assignment

In [30]:
3 in tupla_numero

True

In [9]:
juan = {
    nombre: "Juan",
    hijos: None,
    casado: False,
    "apellido": 'Lopez',
    'edad': 22,
    "sueldo": 1.1,
    "mascotas": [ { "nombre": "dogie" } ]
}

In [47]:
juan

{'Juan': 'Juan',
 'hijos': None,
 'casado': False,
 'apellido': 'Lopez',
 'edad': 22,
 'sueldo': 1.1,
 'mascotas': [{'nombre': 'dogie'}]}

In [48]:
juan["apellido"]

'Lopez'

In [49]:
juan["apellido"] = "Blanco"

In [50]:
juan

{'Juan': 'Juan',
 'hijos': None,
 'casado': False,
 'apellido': 'Blanco',
 'edad': 22,
 'sueldo': 1.1,
 'mascotas': [{'nombre': 'dogie'}]}

In [54]:
juan.keys()

dict_keys(['Juan', 'hijos', 'casado', 'apellido', 'edad', 'sueldo', 'mascotas'])

In [55]:
juan.values()

dict_values(['Juan', None, False, 'Blanco', 22, 1.1, [{'nombre': 'dogie'}]])

In [56]:
"apellido" in juan.keys()

True

In [18]:
"apellido" in juan.values()

False

In [59]:
juan

{'Juan': 'Juan',
 'hijos': None,
 'casado': False,
 'apellido': 'Blanco',
 'edad': 22,
 'sueldo': 1.1,
 'mascotas': [{'nombre': 'dogie'}]}

In [62]:
1 == 1 or 2 == 3  # True
1 == 1 and 2 == 3  # Falsy

False

In [63]:
"sueldo" in juan

True